  <h1>Selected Ice Cream Shop</h1>
  <p>Name: <%= @ice_cream_shop.name %></p>
  <p>open_24_hrs: <%= @ice_cream_shop.open_24_hrs %></p>
  <p>num_employees: <%= @ice_cream_shop.num_employees %></p>
  <p>Total number of flavors: <%= @ice_cream_shop.flavor_count %></p>
